body {
    background-color: steelblue;
}

div {
    background-color: steelblue;
    padding: 1rem;
    border: 4px groove gray;
}

p {
    background-color: lightblue;
    color: midnightblue;
    text-align: center;
    font-family: monospace;
    font-size: 1rem;
    padding: 1rem;
}

table {
    background-color: midnightblue;
    color: lightsteelblue;
    border: 4px groove blue;
    padding: 2rem;
    margin: auto;
}

table:hover {
    border: 4px groove lightblue;
}

td {
    padding: 1rem;
    border: 4px groove midnightblue;
}

td:hover {
    color: lightgreen;
    border: 4px groove lightblue;
}