body {
    background-color: steelblue;
}

div {
    background-color: steelblue;
    padding: 1rem;
    border: 4px groove gray;
}

p {
    background-color: lightblue;
    color: midnightblue;
    text-align: center;
    font-family: monospace;
    font-size: 1rem;
    padding: 1rem;
}

ol {
    background-color: deepskyblue;
    color: blue;
    border: 4px groove blue;
    padding: 2rem;
    margin: auto;
    list-style-type: upper-alpha;
    text-shadow: 1px 1px dimgray;
}

ul {
    background-color: deepskyblue;
    color: blue;
    border: 4px groove blue;
    padding: 2rem;
    margin: auto;
    list-style-type: circle;
    text-shadow: 1px 1px dimgray;
}

li:hover {
    color: lightgreen;
}