body {
    background-color: steelblue;
}

div {
    background-color: lightsteelblue;
    padding: 1rem;
    border: 4px groove gray;
}

p {
    background-color: lightblue;
    color: midnightblue;
    text-align: center;
    font-family: monospace;
    font-size: 1rem;
    padding: 1rem;
}

.font_1 {
    background-color: black;
    color: yellow;
    font-size: large;
    padding: 1rem;
}

.font_2 {
    background-color: darkblue;
    color: white;
    font-size: medium;
    padding: 1rem;
}